extends layout

block content
  //- Navigation
  nav(class="navbar navbar-default navbar-fixed-top topnav", role="navigation")
    .container.topnav.header-nav
      .navbar-header
        a(class="navbar-brand topnav", href="/") Sea Battle
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-right
          li: a(href="#about", 'smooth-scroll-on-click') About
          li: a(href="#create-game", 'smooth-scroll-on-click') Create Game
          li: a(href="#start-game", 'smooth-scroll-on-click') Start Game
  a(name="about")
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 Sea Battle
            h3 Начать игру прямой сейчас?
            hr.intro-divider
            ul.list-inline.intro-social-buttons
              li(class="page-scroll"): a(href="#start-game", class="btn btn-default", 'smooth-scroll-on-click')
                span.network-name Start Game
  a(name="create-game")
  section.content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading Создать свою игру
          p.lead Вы можете создать совю комнату для игры с другом, а так же вы сможете переписыватся с ним с помощью чата. Для этого вам нужно заполнить форму создания комнаты.
        .col-lg-5.col-lg-offset-2.col-sm-6
          form(name="createRoom",
            id="create-room",
            data-ng-controller="CreateRoomCtrl",
            data-ng-submit="create(createRoom)"
          )
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Имя игрока
                input(type="text",
                  name="nickname",
                  class="form-control",
                  placeholder="Имя игрока",
                  data-ng-model="room.nickname",
                  required
                )
                p.help-block.error-block
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Название комнаты
                input(type="text",
                  name="name",
                  class="form-control",
                  placeholder="Название комнаты",
                  data-ng-model="room.name",
                  required
                )
                p.help-block.error-block
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Пароль
                input(type="password",
                  class="form-control",
                  placeholder="Пароль",
                  data-ng-model="room.password"
                )
                p.help-block.error-block
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Подтверждение пароля
                input(type="password",
                  class="form-control",
                  placeholder="Подтверждение пароля",
                  data-ng-model="room.confirmPassword"
                )
                p.help-block.error-block
            br
            #success
            .row
              .form-group.col-xs-12
                button(type="submit", class="btn btn-default btn-lg") Создать игру
  a(name="start-game")
  section.content-section-b(data-ng-controller="ListRoomsCtrl")
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading Выбрать противника
          p.lead Вы можете выбрать комнату из списка и присоединиться к игре введя пароль.
        .col-lg-6.col-sm-pull-6.col-sm-6
          .panel.panel-default
            .panel-heading
              form(name="search-room", id="search-room")
                .row.control-group
                  .form-group.col-xs-12.controls
                    i.glyphicon.glyphicon-search
                    input(type="text", name="search", ng-model="search", class="form-control", placeholder="Поиск...")
            div.list-rooms
              table.table
                tbody('def', data-selected="{{selectedId}}")
                  tr(data-ng-repeat="room in rooms | filter:search", data-id="{{room.id}}")
                    td(width="45%") {{room.name}}
                    td(width="45%") {{room.nickname}}
                    td(width="10%")
                      i(title="Присоединиться к игре",
                        class="glyphicon",
                        data-ng-class="{'glyphicon-share': !room.isPrivate, 'glyphicon-lock': room.isPrivate}",
                        data-ng-click="onClick(room.id)"
                      )
  footer
    .container
      .row
        .col-lg-12
          ul.list-inline
            li: a(href="#about") Acout
            li.footer-menu-divider &sdot;
            li: a(href="#create-game") Create Game
            li.footer-menu-divider &sdot;
            li: a(href="#start-game") Start Game
          p.copyright.text-muted.small Copyright © Бомжары продакшн 2015.

  script(type="text/ng-template" id="private-auth-tpl")
    td(colspan="3", class="auth-room")
      form(data-ng-controller="AuthRoomCtrl")
        div(class="input-wrapper")
          input(type="text", name="nickname", placeholder="Nickname", ng-model="auth.nickname")
          input(type="password", name="password", placeholder="Password", ng-model="auth.password")
        div(class="btn-group", role="group")
            button(type="button", class="btn btn-default", ng-click="success()") Войти
            button(type="button", class="btn btn-default", ng-click="cancel()") Отмена
  script(type="text/ng-template" id="auth-tpl")
    td(colspan="3", class="auth-room")
      form(data-ng-controller="AuthRoomCtrl")
        div(class="input-wrapper")
          input(type="text", name="nickname", placeholder="Nickname", ng-model="auth.nickname")
        div(class="btn-group", role="group")
          button(type="button", class="btn btn-default", ng-click="success()") Войти
          button(type="button", class="btn btn-default", ng-click="cancel()") Отмена